@tailwind base;
@tailwind components;
@tailwind utilities;


::before,::after {
  @apply text-gr font-pm absolute text-lg
}

h1::before{
  @apply content-['<h1>'] -top-8 -left-4
}
h2::before {
  @apply content-['<h2>'] -top-8 -left-4
}

h1::after{
  @apply  content-['</h1>'] -bottom-4
}

h2::after{
  @apply  content-['</h2>'] -bottom-4
}

section::before{
  @apply content-['<section>']  -top-8 left-8
}

section::after{
  @apply  content-['</section>'] -bottom-8 left-8
}


p::before{
  @apply content-['<p>'] -top-8 -left-4
}

p::after{
  @apply content-['</p>'] -bottom-8 -left-4
}
.text-zone {
  @apply font-lobs relative 
}

.domain-text-zone{
  @apply text-gray-500 text-xl lg:text-2xl font-roboto mt-8 relative 
  
}

.btn{
  @apply bg-bground border-primary border text-lg text-primary mt-16 px-12  py-3 
          hover:text-black transition-all hover:bg-primary

}
.blast{

  @apply hover:text-primary
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		-ms-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1)
	}
	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		-ms-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1)
	}
	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		-ms-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1)
	}
	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		-ms-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1)
	}
	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		-ms-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1)
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
} 
.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  display:inline-block;
  transition: all 0.3s ease-in-out;	
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-10px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

	